[submodule "VIPERDemoApp/Utilities/External/MTDataStore"]
	path = VIPERDemoApp/Utilities/External/MTDataStore
	url = https://github.com/maxxx777/MTDataStore
[submodule "VIPERDemoApp/Utilities/External/MTItemListCache"]
	path = VIPERDemoApp/Utilities/External/MTItemListCache
	url = https://github.com/maxxx777/MTItemListCache
[submodule "VIPERDemoApp/Utilities/External/NSString-MTFormatting"]
	path = VIPERDemoApp/Utilities/External/NSString-MTFormatting
	url = https://github.com/maxxx777/NSString-MTFormatting
[submodule "VIPERDemoApp/Utilities/External/MTNetworkWrapper"]
	path = VIPERDemoApp/Utilities/External/MTNetworkWrapper
	url = https://github.com/maxxx777/MTNetworkWrapper
[submodule "VIPERDemoApp/Utilities/External/MTURLRequestBuilder"]
	path = VIPERDemoApp/Utilities/External/MTURLRequestBuilder
	url = https://github.com/maxxx777/MTURLRequestBuilder
